
<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EatFreqs</title>

  <link rel="apple-touch-icon" href="../img/touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../img/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../img/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../img/touch-icon-ipad-retina.png"> 

<!--   <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="./ef_guest_v2.css" />
  <link rel="stylesheet" href="../shared/css/ef_social.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.2/angular-material.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>

  <script src="../shared/node_modules/angular-route/angular-route.js"></script>

  <script src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript" src="../bower_components/angular-payments/lib/angular-payments.js"></script>

</head>

<body>

  <div class="guest-topbar">
    <div class="topbar-text-left">Confirmed!</div>
    <div class="topbar-text-right" ng-click="newOrder()">New Order</div>
  </div>

  <div class="restaurant-info-box">
    <div class="restaurant-name">Example Restaurant</div>
    <div class="restaurant-info-text-box">
      <div class="restaurant-info-text">Wed, November | 11:00AM - 10:00PM</div>
      <div class="restaurant-info-text">10526 W Parmer Ln, Austin, TX 78717</div>
    </div>
  </div>


  <div class="payment-info-box">
    <div class="confirmation-line">
      <div class="confirmation-text-title">Order Ahead Confirmation</div>
    </div>
  </div>

  <div class="payment-info-box">
    <div class="confirmation-line">
      <div class="confirmation-text">Order Number:</div>
      <div class="confirmation-text text-right">1-21</div>
    </div>
    <div class="confirmation-line">
      <div class="confirmation-text">Group Size:</div>
      <div class="confirmation-text text-right">4</div>
    </div>
    <div class="confirmation-line">
      <div class="confirmation-text">Total:</div>
      <div class="confirmation-text text-right">$43.21</div>
    </div>

    <div class="confirmation-line">
      <div class="confirmation-text">Joe Beutler</div>
    </div>

    <div class="confirmation-line">
      <div class="confirmation-text">joebeut@gmail.com</div>
    </div>

    <div class="confirmation-line">
      <div class="confirmation-text">646-499-1234</div>
    </div>

    <div class="confirmation-line">
      <div class="confirmation-text">Received at 12:02 pm</div>
    </div>
  </div>

  <div class="payment-info-box">
    <div class="confirmation-line">
      <div class="confirmation-text">Your items:</div>
    </div>
    <!-- <div ng-repeat="item in confirmation.orderItems"> -->
    <div class="confirmation-line">
      <div class="confirmation-text-notes-title">Burger</div>
      <div class="confirmation-text-notes">Medium well, Fries, Avocado</div>
    </div>

    <div class="confirmation-line">
      <div class="confirmation-text-notes-title">Southwest Salad</div>
      <div class="confirmation-text-notes">Cilantro Ranch, Chicken</div>
    </div>

    <div class="confirmation-line">
      <div class="confirmation-text-notes-title">Dr Pepper (x2)</div>
      <div class="confirmation-text-notes"></div>
    </div>
    <!-- </div> -->
  </div>

  <div class="payment-info-box">
    <div class="confirmation-line">
      <div class="confirmation-text-notes-title">Instructions:</div>
      <div class="confirmation-text-notes">Your order will be ready in 15-20 minutes, and your table will be waiting for you when you arrive.</div>
      <div class="confirmation-text-notes">Please proceed to the host stand, say you are dining with DASH, and provide your name and order number.</div>
  </div>

</body>

</html>
