/*@import url('http://fonts.googleapis.com/css?family=Source+Serif+Pro');*/
/*@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');*/

/* Standard/Heading */
html{
	background-color: white;
	width: 100%;
	
}

body{
	background-color: white;
	color: #4D4E4E;
	width: 100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

/* EF Colors */
.ef-red {
	background-color: #FEFEFE;
}

.guest-topbar {
	height: 50px;	
	width: 100%;	
	background-color: #FF5C49;
	padding-top: 6px;
}

.cart-count-box {
	height: 28px;	
	width: 28px;	
	border: 2px solid #FEFEFE;	
	border-radius: 6px;
	margin-left: 30px;
	margin-top: 6px;
	float: left;
	display: relative;
}

.cart-count-number {
	color: #FFFFFF;	
	font-family: Helvetica;	
	font-size: 16px;	
	font-weight: bold;	
	height: 16px;	
	margin-top: 2px;
	text-align: center;
}

.cart-subtotal {
	color: #FFFFFF;	
	font-family: Helvetica;	
	font-size: 16px;	
	font-weight: bold;	
	float: left;
	display: relative;
	margin-left: 14px;
	margin-top: 9px;
}

.cart-view {
	color: #FFFFFF;	
	font-family: Helvetica;	
	font-weight: bold;
	font-size: 16px;
	float: right;
	margin-top: 9px;
	margin-right: 30px;
}

.b-gphoto {    
  /*background-image: url("./Food_pattern.png");
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin:0;*/

  height: 300px;
  width: 100%;

	position: absolute;
	z-index: 5;
	left: 0;
	top: 0;

}



.restaurant-info-box {
	/*height: 339px;	*/
	width: 100%;	
	margin-top: -500px;
	padding-top: 37px;
	padding-left: 29px;
	padding-right: 29px;
	padding-bottom: 37px;
	display: block;
	overflow: auto;
	position: relative;
	z-index: 10;
}

.restaurant-info-text-box {
	margin-top: 24px;
	height: 40px;	
	width: 290px;	
}

.restaurant-info-text {
	color: #404042;	
	font-family: Helvetica;	
	font-size: 15px;	
	line-height: 20px;
	margin-top: 2px;
}

.menu-dropdown-closed {
	margin-top: 24px;
	height: 50px;	
	width: 100%;	
	border: 2px solid #FF5C49;	
	border-radius: 6px;	
	background-color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
}

.menu-dropdown-open {
	margin-top: 24px;
	display: block;
	overflow: auto;
	width: 100%;	
	border: 2px solid #FF5C49;	
	border-radius: 6px;	
	background-color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 12px;
}

.menu-open-arrow {
	/* Using a CSS trick to create the arrow */
	width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #FF5C49;

	margin-top: 20px;
	float: right;
}

.menu-dropdown-text-selected {
	height: 19px;	
	color: #FF5C49;	
	font-family: Helvetica;	
	font-size: 18px;	
	font-weight: bold;	
	line-height: 19px;
	margin-top: 14px;
	float: left;
}

.menu-dropdown-text {
	height: 19px;	
	color: #8C8C8C;
	font-family: Helvetica;	
	font-size: 16px;	
	font-weight: bold;	
	line-height: 19px;
	margin-top: 16px;
	float: left;
}

.menu-dropdown-line {
	height: 40px;	
	width: 100%;	
}

/* Booking page */
.page-container {
	margin-left: 26px;
	margin-right: 26px;
	width: auto;
}

.page-margin {
	margin-left: 26px;
	margin-right: 26px;
	width: auto;
}

.restaurant-name {
	color: #FF5C49;	
	font-family: Helvetica;	
	font-size: 40px;	
	font-weight: bold;	
	line-height: 42px;
	width: 250px;
}

.input-label {
	color: #404042;	
	font-family: Helvetica, sans-serif;	
	font-size: 14px;	
	font-weight: 500;	
	line-height: 19px;
	margin-top: 26px;
}

.input-box {	
	height: 42px;	
	font-size: 18px;	
	width: 100%;	
	border: 1px solid #979797;	
	background-color: #F9F9F9;
	margin-top: 6px;
	padding-left: 12px;
}

.add-button {	
	height: 39px;	
	width: 226px;	
	border-radius: 3px;	
	background-color: #000000;
	margin-top: 58px;
	text-align: center;
	/*padding-top: 20px;*/

}

.add-button-text {
	color: #FFFFFF;	
	font-family: Helvetica;	
	font-size: 16px;	
	padding-top: 10px;
}


/* Menu pages */
.menu-title-box {	
	width: 100%;	
	background-color: #D8D8D8;
	min-height: 50px;
	display:block;
	overflow:auto;
	position: relative;
	z-index:8;
	padding-top: 10px;
	padding-bottom: 16px;
}

.preorder-description {
	width: 60%;	
	color: #4D4E4E;	
	font-family: Helvetica;	
	font-size: 14px;	
	line-height: 17px;
	float: left;
	position: relative;
	margin-left: 25px;
	padding-bottom: 10px;
}

.menu-title-textbox {
	color: #000000;	
	height: 38px;
	width: 100%;
	font-family: Helvetica;	
	float: left;
	margin-top: 10px;
	padding-left: 25px;
}

.selected-menu {
	border-left: 6px black solid;
	padding-left: 19px;
}

.menu-title-text {
	color: #000000;	
	font-family: Helvetica;	
	font-size: 20px;	
	font-weight: bold;	
	line-height: 24px;
	float: left;
	margin-top: 8px;
	/*margin-left: 25px;*/
}

.menu-change-text {
	color: #000000;	
	font-family: Helvetica;	
	font-size: 16px;	
	line-height: 24px;
	float: right;
	margin-top: 8px;
	margin-right: 45px;
}

.category-title-box {	
	/*border-top: 2px solid #D8D8D8;*/

	height: 56px;	
	width: 100%;	
	background-color: #F6F6F6;
	position: relative;
	z-index: 10;
}

.category-title-text {
/*	color: #000000;	
*/	float: left;
	margin-top: 16px;
	margin-left: 31px;

	color: #FF5C49;	
	font-family: Helvetica;	
	font-size: 18px;	
	font-weight: bold;
}

.menu-item-box {	
	width: 100%;	
	border-top: 1px solid #E1E1E1;
	background-color: #F6F6F6;
	min-height: 70px;
	display:block;
	overflow:auto;
	position: relative;
	z-index:8;
	padding-bottom: 20px;
}

.item-title-text {
	font-family: Helvetica;	
	font-size: 16px;	
	font-weight: 500;	
	float: left;
	line-height: 18px;
	margin-top: 14px;
	margin-left: 31px;
	color: #272727;	
}

.item-price {
	color: #404042;	
	font-family: Helvetica;	
	font-size: 16px;	
	font-weight: 500;	
	float: right;
	margin-top: 17px;
	margin-right: 28px;
	text-align: right;
}

.item-description {
	width: 60%;	
	color: #777677;
	font-family: Helvetica;	
	font-weight: 100;
	font-size: 14px;	
	line-height: 18px;
	margin-left: 31px;
	margin-top: 6px;
	float: left;
}

.cart-item-line {
	width: 100%;
	height: 40px;
}

.item-cart-text {
	font-family: Helvetica;	
	font-size: 14px;	
	margin-top: 17px;
	margin-left: 31px;
	color: #404042;	
	float:left;
}

.item-cart-count {
	width: 40px;
	font-family: Helvetica;	
	font-size: 14px;	
	margin-top: 17px;
	margin-right: 31px;
	color: #404042;	
	float:right;
}


/* Item Order Page */
.order-item-box {	
	width: auto;	
	margin-top: 30px;
	border-bottom: 1px solid #E1E1E1;
	min-height: 70px;
	display:block;
	overflow:auto;
	position: relative;
	z-index:8;
	padding-bottom: 25px;
}

.order-item-title-line {
	width: 100%;
	height: 25px;
	margin-bottom: 10px;
}

.order-item-title-text {
	color: #000000;	
	font-family: Helvetica;	
	font-size: 20px;	
	font-weight: bold;	
	float: left;
	margin-top: 7px;
}

.order-item-close {
	color: #000000;	
	font-family: Helvetica;	
	font-size: 20px;	
	font-weight: bold;	
	float: right;
	margin-top: 7px;
	text-align: right;
}

.order-item-description {
	width: 70%;	
	color: #4D4E4E;	
	font-family: Helvetica;	
	font-size: 14px;	
	line-height: 17px;
	float: left;
}

.order-extra-box {	
	width: auto;	
	margin-top: 30px;
	margin-bottom: 12px;
	display:block;
	overflow:auto;
}

.order-extra-line {
	width: 100%;
	height: 20px;
}

.order-extra-title {	
	height: 19px;	
	color: #FF5C49;	
	font-family: Helvetica;	
	font-size: 18px;	
	font-weight: bold;	
	line-height: 19px;
	float: left;
}

.confirmation-text-box {	
	width: auto;	
	margin-top: 30px;
	margin-bottom: 12px;
	display:block;
	overflow:auto;
}

.confirmation-line {
	padding-right: 30px;
	padding-left: 30px;
	width: auto;
	height: 25px;
}

.confirmation-text {
	height: 19px;	
	color: #272727;	
	font-family: Helvetica;	
	font-size: 16px;	
	line-height: 19px;
	float: left;
}

.text-right {
	float: right;
}

.add-on-title-line {
	width: 100%;
	height: 50px;
	padding-top: 15px;
}

.add-on-line {
	width: 100%;
	height: 38px;
	padding-top: 10px;
}

.add-on-checkbox {
	float: left;
	margin-top: 15px;
	background-color: black;
	height: 18px;	
	width: 18px;	
	border: 1px solid #272727;
}

.add-on-label-title {
	float:left;
	color: #272727;	
	font-family: Helvetica;	
	font-size: 16px;
	font-weight: 500;	
	line-height: 19px;
	margin-left: 0px;
	margin-top: 8px;
}

.add-on-label {
	float:left;
	color: #777677;	
	font-family: Helvetica;	
	font-size: 16px;	
	line-height: 19px;
	margin-left: 10px;
	margin-top: 5px;
}

.add-on-price {
	float:right;
	text-align: right;
	color: #272727;	
	font-family: Helvetica;	
	font-size: 16px;	
	line-height: 19px;
	margin-top: 5px;

}

.instructions-area {
	margin-top: 20px;
	width: 98%;
	height: 100px;
	border: 1px #A6A6A6 solid;
	background-color: #F9F9F9
}


.also-added-box {	
	width: 100%;	
	min-height: 70px;
	background-color: #EFEFEF;
	display:block;
	overflow:auto;
	border-top: 1px solid #E1E1E1;
}

.add-to-order {	
	width: 226px;	
	margin: auto;
	margin-top: 20px;
	margin-bottom: 25px;
	border-radius: 3px;	
	background-color: #000000;
	padding: 10px 0;
}

.add-to-order-text {	
	text-align: center;
	color: #FFFFFF;	
	font-family: Helvetica;	
	font-size: 16px;	
	line-height: 19px;
}

/* Reservation confirmation page */
.confirmation-text {
	color: #000000;	
	font-family: Helvetica;	
	font-size: 16px;	
	font-weight: bold;	
	line-height: 19px;
}

.confirm-message {
	margin-top: 72px;
}

.confirmation-contact {
	margin-top: 20px;
}

.confirmation-time {
	margin-top: 40px;
}

.confirmation-line {
	width: 100%;
}

.order-now-message {
	width: 80%;
	margin-top: 60px;
}

.order-now-button {
	width: 226px;	
	border-radius: 3px;	
	background-color: #000000;
	margin-top: 100px;
	padding: 10px 0;
}

.order-now-button-text {
	color: #FFFFFF;	
	font-family: Helvetica;	
	font-size: 16px;	
	text-align: center;
}


/* Guest app homepage*/


.ef-logo {
	width: 22%;
}

.logo-style-0{
	fill:none;
}

.logo-style-1{
	fill:#272727;
}

.logo-style-2{
	fill:#ffffff;
}

.logo-style-x{
	fill:#F2F2F2;
}

.guest-homepage-container {
	margin-left: 25px;
	margin-right: 25px;
	width: auto;
}

.guest-homepage-title {
	color: #272727;
	font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 24px;
  width:100%;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.guest-homepage-subtitle {
	color: #272727;
	font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  padding-top: .5%;
  padding-bottom: 1em;
  width:100%;
  font-weight: 500;

}

.guest-homepage-header {
	color: #272727;
	font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 14px;
  padding-top: 1.5em;
  padding-bottom: .3em;
  width:100%;
  border-bottom: #272727 1px solid;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 500;
}

/* Stripe CSS */
.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
